.cmp-verticaltabs{
    font-size: $font-m;
    margin: $space-s;
    position: relative;
  
  &__tabs-container{
    display: flex;
    margin-top: 16px;
    @media(max-width: 768px) {
      flex-direction: column;
    }
  }

  &__label-container {
    margin-bottom: $space-s;
  }

  &__label {
    @include panel-label;
  }

  &__tabpanel{
    @include panel-label;
    flex:1;
  }
  
  &__tablist{
    
    
    @media(min-width: 768px) {
      width: 150px;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-inline-end: $space-m;
    }
    @media(max-width: 768px) {
      @include tab-list;
      padding-bottom: 2 * $space-xs;

    }
  }
  &__tab {
    cursor: pointer;
    @media(min-width: 768px) {
      padding-inline: 12px 4px;
      padding-block: 12px;
      margin-top: 8px;
      color: $gray;
      &:hover {
        border-inline-start: 2px solid $light-gray;
      }
      &--active {
        border-inline-start: 2px solid;
        color: $primary;
        &:hover{
          border-inline-start: 2px solid $primary;
        }
      }
    }
    @media(max-width: 768px) {
      @include tab;
    }
  }
  
  @include description
}