.cmp-adaptiveform-radiobutton {
  @include container;

  &__label {
    @include label;
  }

  &__widget {
    @include list-container;
  }

  @include description;

  &__errormessage {
    @include error-message;
  }

  &__option {
    @include list-item;
    &-label {
      display: flex;
      column-gap: $space-s;
      align-items: center;
      width: 100%;
    }
  }

  &__option__widget {
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
    outline: none;
  }

  span {
    opacity: 1;
  }
}