.cmp-accordion {
  @include container;
  @include description;

  &__item {
    opacity: 1;
  }

  &__header {
    padding: 0 $space-s;
    display: flex;
  }

  &__label-container {
    margin-bottom: $space-s;
  }

  &__label {
    @include panel-label;
  }

  &__button {
    @include tab;
    flex: 1;
    border: none;
    border-bottom: $border-light;
    border-width: 2px;
    justify-content: space-between;
    margin-inline-end: unset;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      color: $dark-gray;
    }

    &--expanded {
      color: $primary;
      border-color: $dark-gray;

      &:hover {
        color: $primary;
        border-color: $dark-gray;
      }
    }
  }

  &__button &__icon {
      display: inline-block;
      background: url(./resources/images/chevron-down.svg) center center / cover no-repeat;
      margin: 0 $space-s ;
      height: 16px;
      width: 16px;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  .cmp-accordion__button.cmp-accordion__button--expanded &__icon {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
  }

  &__panel {
    @include tab-panel;
  }

  @include repeatability-buttons
}